body {
  background-color: #333;
  color: #fff;
}

a {
  text-decoration: none;
  color: #b55;
}

a:hover {
  text-decoration: none;
  color: #d77;
}

ol {
  list-style-type: none;
}

#profile-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.title-card {
  background-image: url(../img/streetbattle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 50%;
  height: 400px;
  padding: 20px;
  background-color: #222;
}

.title-card h1 {
  font-size: 5em;
}

.card {
  background-color: #222;
  margin: 20px;
}
.card-header {
  background-color: #aaa;
  color: #000;
  text-transform: uppercase;
  padding-left: 2em;
  padding-top: 0;

  margin-bottom: 0;
}

.card-header h2 {
  margin-top: 0px;
  margin-bottom: -10px;
  font-size: 2em;
  font-weight: bolder;
  color: #333;
}

.card-body {
  background-color: #333
}

.hobby {
  font-style: italic;
  font-weight: bolder;
  color: #c96;
}
